.downcounter {

    background-image: url('../../assets/img/vector.webp');
    background-repeat: repeat;
    background-size: 110% auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;

    .unit {
        align-items: center;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        flex-direction: column;
        flex-grow: 1 !important;

        .value {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}