<section class="downcounter">
    <div class="unit" [style.color]="cdTextColor">
      <span class="value">{{ days }}</span>
      <span class="label">días</span>
    </div>
    <div class="unit" [style.color]="cdTextColor">
      <span class="value">{{ hours }}</span>
      <span class="label">horas</span>
    </div>
    <div class="unit" [style.color]="cdTextColor">
      <span class="value">{{ minutes }}</span>
      <span class="label">minutos</span>
    </div>
    <div class="unit" [style.color]="cdTextColor">
      <span class="value">{{ seconds }}</span>
      <span class="label">segundos</span>
    </div>
</section>