<main>
    <section class="landing">
        <p class="q_meta animate__animated animate__fadeInRight">{{data?.landing.qMetaTop}}</p>
        <h1 class="q_name animate__animated animate__fadeInLeft" [style.color]="data?.primaryColor || 'white'">{{data?.landing.qName}}</h1>
        <p class="q_meta animate__animated animate__fadeInRight">{{data?.qDate | date: 'dd-MM-yyyy'}}</p>
    </section>
    <ng-container *ngIf="showDownCounter">
        <app-count-down ngsReveal [fecha]="data?.qDate" [textColor]="data?.fourthColor"></app-count-down>
    </ng-container>
    <ng-container *ngIf="invitado !== ''">
        <section class="sPar" ngsReveal [style.backgroundColor]="data?.tertiaryColor" #s1> 
            <img class="marco" src="assets/img/marco_rosa_der.webp"/>
            <img class="marco-invert" src="assets/img/marco_rosa_izq.webp"/>
            <img class="marco-b" src="assets/img/marco_rosa_der_b.webp"/>
            <img class="marco-b-invert" src="assets/img/marco_rosa_izq_b.webp"/>
            <img class="icon" src="assets/img/envelope.webp"/>
            <h1 class="title" [style.color]="data?.secondaryColor">{{invitado}}</h1>
        </section>
    </ng-container>
    <section class="sImpar" ngsReveal #s2>   
        <p class="message" [innerHTML]="data?.inv.part1"></p>
        <p class="title_xl" [style.color]="data?.secondaryColor" [innerHTML]="data?.inv.part2"></p>
        <p class="message" [innerHTML]="data?.inv.part3"></p>
        <p class="title_secondary" [innerHTML]="data?.inv.part4" [style.color]="data?.fourthColor"></p>
        <p class="message" [innerHTML]="data?.inv.part5"></p>
        <p class="title_secondary" [innerHTML]="data?.inv.part6" [style.color]="data?.fourthColor"></p>
        <button [style]="{ 'color' :  data?.fourthColor, 'borderColor': data?.fourthColor }" (click)="openMap()" pButton pRipple [icon]="data?.inv.ubiBtnIcon" [label]="data?.inv.ubiBtnLabel" class="p-button-rounded p-button-outlined btn"></button> 
    </section>
    <ng-container *ngIf="!confirmado else invitacionConfirmada;">
        <section class="sPar" [style.backgroundColor]="data?.tertiaryColor" ngsReveal>
            <img class="icon" src="assets/img/confirmado.webp"/>
            <img class="marco" src="assets/img/marco_rosa_der.webp"/>
            <img class="marco-invert" src="assets/img/marco_rosa_izq.webp"/>
            <img class="marco-b" src="assets/img/marco_rosa_der_b.webp"/>
            <img class="marco-b-invert" src="assets/img/marco_rosa_izq_b.webp"/>

            <h1 class="title" [style.color]="data?.secondaryColor">{{data?.asist.part1}}</h1>
            <p class="message" [innerHTML]="data?.asist.part2"></p>
            
            <h1 class="title_secondary" [style.color]="data?.fourthColor">{{data?.vestimenta.part1}}</h1>
            <p class="message" [innerHTML]="data?.vestimenta.part2"></p>

            <h1 class="title_secondary" [style.color]="data?.fourthColor">{{data?.asist.part3}}</h1>
            <div class="message nm" *ngFor="let invi of invitaciones">
                <p>{{invi.cantidad}} {{invi.tipo_invitacion_nombre}}</p>
            </div>
            <button [style]="{ 'backgroundColor' :  data?.secondaryColor, 'borderColor': data?.secondaryColor }" (click)="showConfirmar = true" pButton pRipple [icon]="data?.asist.inviBtnIcon" [label]="data?.asist.inviBtnLabel" class="p-button-rounded btn"></button>
            
        </section>
    </ng-container>
    <ng-template #invitacionConfirmada>
        <section class="sPar" [style.backgroundColor]="data?.tertiaryColor" ngsReveal>
            <img class="marco" src="assets/img/marco_rosa_der.webp"/>
            <img class="marco-invert" src="assets/img/marco_rosa_izq.webp"/>
            <img class="marco-b" src="assets/img/marco_rosa_der_b.webp"/>
            <img class="marco-b-invert" src="assets/img/marco_rosa_izq_b.webp"/>  
            <img class="icon" src="assets/img/confirmado.webp"/>
            <h1 class="title" [style.color]="data?.secondaryColor">{{data?.asist.part4}}</h1>

            <h1 class="title_secondary" [style.color]="data?.fourthColor">{{data?.vestimenta.part1}}</h1>
            <p class="message" [innerHTML]="data?.vestimenta.part2"></p>

            <h1 class="title_secondary" [style.color]="data?.fourthColor">{{data?.asist.part3}}</h1>
            <div class="message nm" *ngFor="let invi of invitaciones">
                <p>{{invi.cantidad}} {{invi.tipo_invitacion_nombre}}</p>
            </div>
        </section>
    </ng-template>
    <section class="sImpar" ngsReveal> 
        <img class="icon" src="assets/img/envelope-b.webp"/>
        <h1 class="title" [style.color]="data?.secondaryColor">{{data?.cartaPadres.part1}}</h1>
        <p class="message" [innerHTML]="data?.cartaPadres.part2"></p>
        <p class="title_secondary" [style.color]="data?.fourthColor" [innerHTML]="data?.cartaPadres.part3"></p>
        <p class="message" [innerHTML]="data?.cartaPadres.part4"></p>
        <p class="title_footer" [style.color]="data?.fourthColor" [innerHTML]="data?.cartaPadres.part5"></p>
    </section>
    <section class="sPar" ngsReveal [style.backgroundColor]="data?.tertiaryColor">
        <img class="marco" src="assets/img/marco_rosa_der.webp"/>
        <img class="marco-invert" src="assets/img/marco_rosa_izq.webp"/>
        <img class="marco-b" src="assets/img/marco_rosa_der_b.webp"/>
        <img class="marco-b-invert" src="assets/img/marco_rosa_izq_b.webp"/>
        <img class="icon" src="assets/img/envelope-b.webp"/>
        <h1 class="title" [style.color]="data?.secondaryColor">{{data?.cartaHermanos.part1}}</h1>
        <p class="message" [innerHTML]="data?.cartaHermanos.part2"></p>
        <p class="title_footer" [style.color]="data?.fourthColor" [innerHTML]="data?.cartaHermanos.part3"></p>
    </section>
    
    <section class="sImpar" ngsReveal>
        <img class="icon" src="assets/img/album.webp"/>
        <h1 class="title" [style.color]="data?.secondaryColor">{{data?.album.albumTitle}}</h1>
        <div class="album_images">
            <img ngsReveal class="album_img" [src]="image" *ngFor="let image of images">
        </div>
    </section>
    
</main>

<p-dialog header="{{data?.appTitle}}" [(visible)]="showConfirmar" styleClass="modal-break-points" [modal]="true" [position]="'bottom'" [draggable]="false">
    <p class="dialog-confirm">{{data?.dialog.confirmationDescription}}</p>
    <ng-template pTemplate="footer">
        <button [style]="{ 'backgroundColor' :  data?.secondaryColor, 'borderColor': data?.secondaryColor }" 
        (click)="confirmarInvitacion()" pButton pRipple [icon]="data?.dialog.confirmationBtnIcon" [label]="data?.dialog.confirmationBtnLabel" 
        class="btn"></button>
    </ng-template>
</p-dialog>
<ngx-ui-loader></ngx-ui-loader>