@import "../globals.scss";

.landing {
    align-items: center;
    background-image: url('../assets/img/xv.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    z-index: -1;

    /* Agregar pseudo-elemento ::before para el overlay */
    &::before {
        content: ""; /* Contenido vacío, solo se usará para el overlay */
        background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 0; /* Asegura que el overlay esté sobre la imagen de fondo */
    }
    
    .q_name {
        font-family: 'Dancing Script', cursive;
        font-size: 4rem;
        margin: 0;
        text-align: center;
        z-index: 1;
    }
    
    .q_meta {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        z-index: 1;
    }

}

.sImpar {
    align-items: center;
    background-image: url('../assets/img/vector.webp');
    background-repeat: repeat;
    background-size: 110% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 1rem;
}

.sPar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 1rem;
    position: relative;

    .marco {
        width: 80px;
        height: auto;
        position: absolute;
        top: .5rem;
        right: .25rem;
    }
    
    .marco-invert {
        width: 80px;
        height: auto;
        position: absolute;
        top: .5rem;
        left: .25rem;
    }

    .marco-b {
        width: 80px;
        height: auto;
        position: absolute;
        bottom: .5rem;
        right: .25rem;
    }
    
    .marco-b-invert {
        width: 80px;
        height: auto;
        position: absolute;
        bottom: .5rem;
        left: .25rem;
    }
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 2.25rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.icon {
        
    width: 60px;
    height: auto;
    margin: 0 0 1rem 0;
    
    @media screen and (min-width: $sm){
        width: 120px;
    }
}

.message {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin: 1rem 0.5rem;
    text-align: center;

    &.nm {
        margin-bottom: 0;
        p {
            margin: 0;
        }  
    }
}

.title_footer {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    text-align: center;
    font-weight: bold;
}

.title_secondary {
    font-family: 'Dancing Script', cursive;
    font-size: 1.75rem;
    margin: 1rem 0 0 0;
    font-weight: bold;
    text-align: center;
}

.title_xl {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    margin: 2rem 0 0 0;
    font-weight: bold;
    text-align: center;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    margin: 2.5rem 0 1rem 0;
    width: 75vw;
}

.album_images {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .album_img{
        border-radius: 0.5rem;
        height: auto;
        margin: 0.5rem 0;
        width: 100%;
    }

}

.dialog-confirm {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}