@import "./globals.scss";

@font-face {
    font-family: 'Dancing Script';
    src: url('./assets/fonts/DancingScript-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    margin: 0;
}

.modal-break-points {
    
    width: 90vw !important;
    
    @media screen and (min-width: $md) {
        width: 60vw !important;
    }

    @media screen and (min-width: $lg) {
        width: 40vw !important;
    }
}